
<!-- Start content -->
<div class="content">
    <div class="container">

        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Liste des demandes</h4>

                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            <a href="#/">Accueil</a>
                        </li>
                        <li class="active">
                            Les demandes
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <!--<h4 class="header-title m-t-0 m-b-30">Tabs Bordered</h4>-->

                    <ul class="nav nav-tabs">

                        <li class="active">
                            <a href="#in-wait"  id="recharger" title=" juste a test" ng-click="$event.preventDefault()" data-toggle="tab" aria-expanded="false">
                                <span class=""><i class="fa fa-balance-scale"></i></span>
                                <span class="hidden-xs">Demandes en attente</span>
                            </a>
                        </li>

                        <li class="">
                            <a href="#in-done" ng-click="$event.preventDefault()" data-toggle="tab" aria-expanded="false">
                                <span class=""><i class="fa fa-calendar-check-o"></i></span>
                                <span class="hidden-xs">Demandes traitées</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#in-wait-event"  ng-click="$event.preventDefault()" data-toggle="tab" aria-expanded="false">
                                <span class=""><i class="fa fa-calendar-minus-o"></i></span>
                                <span class="hidden-xs">Demandes en attente de livraison fournisseur</span>
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="in-wait">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="panel panel-border panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Demandes en attentes</h3>
                                        </div>
                                        <div class="panel-body">
                                            <table id="datatable-buttons" class="table table-hover table-striped m-0 table-colored-bordered table-bordered-inverse">
                                                <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>N° Demande</th>
                                                    <th>Agence</th>
                                                    <th>Destinateur</th>
                                                    <th>Article</th>
                                                    <th>Qte</th>
                                                    <th>Etat</th>
                                                    <th>Date</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>


                                                <tbody>
                                                <tr ng-repeat="dem in waitDemandes">
                                                    <td>{{$index+1}}</td>
                                                    <td>NQJD03KOQQ {{$index+1}}</td>
                                                    <td>Treichville Marché</td>
                                                    <td>Henriette Konan</td>
                                                    <td>Carton, cofi carte,ordinateur,cable, ....</td>
                                                    <td>12</td>
                                                    <td>En attente </td>
                                                    <td>2011/04/25</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <button type="button" title=" effectuer un operation" class="btn btn-brown btn-sm dropdown-toggle waves-effect" data-toggle="dropdown" aria-expanded="false">
                                                                Action <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#/">Traiter</a></li>
                                                                <li><a href="#/">Mettre en Attente de Livraison</a></li>
                                                                <li><a href="#/">Rejetter</a></li>
                                                            </ul>
                                                        </div></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="in-done">

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="panel panel-border panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Demandes traitées</h3>
                                        </div>
                                        <div class="panel-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                        <div class="tab-pane" id="in-wait-event">

                            <h2 class="lead"> Wait Other Methodes list</h2>
                            <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>


                        </div>
                    </div>

                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->


    </div> <!-- container -->

</div>
<!-- content -->